@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 28px;
  background: #202733;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
